html
    head
        title YnovShop
        link(rel="stylesheet", href="/static/stylesheets/bootstrap.min.css")

body
    block content

link(rel="javascript", href="/static/javascripts/bootstrap.min.js")
